html, body, h1, h2, h3, h4, h5, h6 {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
	background-color: #333;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 8px 20px;
	text-decoration: none;
	font-size: 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #351c44;
	color: #ddd;
}

/* Add an active class to highlight the current page */
.active {
	background-color: #3f7f63;
	color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
	display: none;
}

table#t01 {
	width: 100%;
	background-color: #f1f1c1;
	text-align: left;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

table#t01 tr:nth-child(even) {
	background-color: #eee;
}

table#t01 tr:nth-child(odd) {
	background-color: #fff;
}

table#t01 th {
	color: white;
	background-color: #351c44;
	margin-left: auto;
	margin-right: auto;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}